################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.DS_Store

/Scripts/dist
/Scripts/node_modules